body {
	margin: 1em;
	max-width: 35em;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	line-height: 1;
}

	a {
		color: rgb(00,66,99);
	}

	a:hover {
		color: rgb(00,33,66);
	}

	h1 {
		font-size: 2.7em;
		font-weight: 900;
		letter-spacing: -1px;
		margin: 0 0 0.5em;
	}

	h1, h2, h3, h4 {
		color: rgb(44,44,44);
	} 

	p, li {
		line-height: 1.4;
		font-size: 1.125em;
		color: rgb(88,88,88);
	}

	blockquote {
		border-left: 5px solid rgb(00,66,99);
		margin: 0 0 1em;
		padding: 1.75em;
		color: rgb(00,66,99);
		background-color: rgb(235,247,248);
	}

		blockquote P {
			margin: 1em 0 0;
		}

		blockquote P:first-child {
			margin: 0;
		}

	.step {
		display: block;
		margin-bottom: 2.344em;
	}

		.step .number-container {
			position: relative;
			border-top: 3px dotted rgb(220,220,220);
			margin: 4.688em 0;
		}

		.step .number {
			position: absolute;
			width: 50px;
			line-height: 50px;
			background: white;
			text-align: center;
			font-size: 1.75em;
			left: 50%;
			top: -27px;
			margin-left: -25px;
			background: #f90;
			color: rgb(255,255,255);
		}

	.promo {
		margin: 4.688em 0 0;
		padding: 1.75em 1em;
		border-top: 3px dotted rgb(220,220,220);
	}

		.promo h3 {
			margin: 0;
		}

	.email-form {
		margin: 0;
	}

		.email-field {
			display: block;
			width: 100%;
			border: 1px solid rgb(180,180,180);
			margin-bottom: 5px;
			padding: 7px;
			font-size: 1.125em;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-shadow: 0 1px 0 #F1F1F1, inset 0 1px 1px #E0E0E0;
			border-radius: 3px;
			font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		}

		.email-button {
			background-color: #7fbf4d;
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
			background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
			background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
			background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
			background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
			background-image: linear-gradient(top, #7fbf4d, #63a62f);
			border: 1px solid #63a62f;
			border-bottom: 1px solid #5b992b;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			-webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
			-moz-box-shadow: inset 0 1px 0 0 #96ca6d;
			box-shadow: inset 0 1px 0 0 #96ca6d;
			color: #fff;
			line-height: 1;
			padding: 7px 0 9px 0;
			text-align: center;
			text-shadow: 0 -1px 0 #4c9021;
			display: block;
			width: 100%;
			font-size: 1.125em;
			border-radius: 3px;
			font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			cursor: pointer;
		}

			.email-button:hover {
				background-color: #76b347;
			    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
			    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
			    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
			    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
			    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
			    background-image: linear-gradient(top, #76b347, #5e9e2e);
			    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
			    -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
			    box-shadow: inset 0 1px 0 0 #8dbf67;
			    cursor: pointer;
			}

	footer {
		border-top: 3px dotted rgb(220,220,220);
		padding-top: 1.75em;
		text-align: center;
		color: rgb(132,132,132);
		line-height: 1.4;
	}

	@media screen and (min-width: 38em) {
		h1 {
			font-size: 3.662em;
			font-weight: 900;
			letter-spacing: -3px;
			margin: 0 0 0.5em;
		}

		body {
			margin: 3em auto;
		}

		.email-field {
			width: 60%;
			display: inline-block;
			margin-right: 3px;
		}

		.email-button {
			width: 150px;
			display: inline-block;
		}
	}